<%= form_for [@post, @comment] do |f| %>
<%= render 'shared/content_error', obj: @comment %>
  <div class='control-group'>
    
    <%= f.label :body %>
    <%= f.text_area :body %>
 </div>
    <%= f.submit "Create comment", class: "btn btn-primary" %>
  
<% end %>