<%= render 'shared/content_title',  title: 'Create a new post' %>
<div class='well'>
<%= form_for @post do |f| %>
  
<%= render 'shared/content_error', :error => @post %>
<div class='control-group'>

  <p>
  <%= f.label :title %>
<%= f.text_field :title %>
</p>
<p>
 <%= f.label :url %>
<%= f.text_field :url %>
</p>
<p>
  <%= label_tag :description %>
<br> <%= f.text_area :description, rows: 5%>
</p>

</div>
  <%= f.submit 'Create Post', class: 'btn btn-primary' %>

<% end %>
</div>